body {
    background: rgb(225,233,233);
    background: linear-gradient(180deg, rgba(225,233,233,1) 54%, rgba(150,150,149,0.6694327389158788) 98%);
}

#place {
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

#picture{
    position:relative;
    width:1000px;
    height:500px;
    left:150px;
}

#place .rating{
    font-size:32px;
}

#player{
    margin-bottom: 50px;
}



