body {
    background-color: lightgray;
}

#place {
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

#picture{
    position:relative;
    width:1000px;
    height:500px;
    left:50px;
}

#place .rating{
    font-size:32px;
}


.carousel-control-prev {
    position:relative;
    left: -15px;
    top: 232px;   
}
