
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20PX;
    height: auto;
    background: rgb(202,214,214);
    background: linear-gradient(180deg, rgba(202,214,214,0.3809173327534139) 54%, rgba(162,162,157,0.32209380334164917) 98%);
}


    body .container {
        margin: 0px;
    }

.container .pb-3 {
    width: 900px;
    max-height: 355px;
}



/* Header and Navbar */

header .navbar {
    background: rgb(202,214,214);
    background: linear-gradient(360deg, rgba(202,214,214,0.3809173327534139) 0%, rgba(211,210,217,0.08679968569459029) 41%);
    margin: 0px;
}


    header .navbar .container-fluid .navbar-brand {
        color: black;
    }


.navbar-brand {
    font-size: 20px;
}



body .container {
    margin: 0px;
}

.container-fluid .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    color: black;
    font-style: italic;
    font-weight: bold;
}

.container-fluid .myactionlink1 {
    margin-left: auto;
    margin-right: 30px;
    text-decoration: none;
    color: firebrick;
}

.container-fluid .myactionlink2 {
    margin-right: 10px;
    text-decoration: none;
    color: firebrick;
}


/* Option Div all options */

#selectOption {
    width: 300px;
    height: 350px;
    background-color: dimgrey;
    border-radius: 6px;
    padding: 10px;
    margin-top: 20px;
}


    #selectOption .myactionlink {
        max-width: 250px;
        max-height: 40px;
        text-decoration: none;
        padding: 10px;
        display: block;
        color: aliceblue;
    }

        #selectOption .myactionlink:hover {
            color: lightslategray;
        }



/* Statistic options */

#statistics {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    position: relative;
    left: 400px;
    top: -344px;
    width: 990px;
    height: 400px;
    border: 1px solid gray;
    background-color: lightgray;
}


    #statistics .opt {
        border: 1px solid white;
        width: 25%;
        height: 33.3333%;
    }

    #statistics .opt:hover{

        transform:scale(1.1);
    }

    #statistics .opt:nth-child(odd){
        background-color:red;
    }
        #statistics .opt:nth-child(even) {
            background-color: lightcyan;
        }
    



/* Footer */
#AdminPage {
    position: relative;
    top: 78px;
    height: 210px;
    border-top: 1px solid gray;
    background-color: whitesmoke;
    padding: 20px;
    color: gray;
}
