
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20PX;
    height: auto;
    background: rgb(202,214,214);
    background: linear-gradient(180deg, rgba(202,214,214,0.3809173327534139) 54%, rgba(162,162,157,0.32209380334164917) 98%);
}

.navbar-brand{
   font-size:20px;
}

.container .myactionlink1 {
    position: relative;
    left: 790px;
    top: -95px;
    text-decoration: none;
    color: firebrick;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container .myactionlink2 {
    position: relative;
    left: 850px;
    top: -95px;
    margin: 10px;
    text-decoration: none;
    color:firebrick;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container-fluid .navbar-brand{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:26px;
}

footer {
    height: 160px;
    width: auto;
    height:auto;
    margin-top: 120px;
    background-color: whitesmoke;
}
#selectOption .myactionlink {
    max-width: 250px;
    color: dimgray;
    text-decoration:none;
    padding:10px;
}

    #selectOption .myactionlink:hover {
       color: lightslategray;
    }
