
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20PX;
    height: auto;
    background: rgb(202,214,214);
    background: linear-gradient(180deg, rgba(202,214,214,0.3809173327534139) 54%, rgba(162,162,157,0.32209380334164917) 98%);
}

header .navbar {
    background: rgb(202,214,214);
    background: linear-gradient(360deg, rgba(202,214,214,0.3809173327534139) 0%, rgba(211,210,217,0.08679968569459029) 41%);
    margin: 0px;
}

    header .navbar .container-fluid a {
        color: black;
    }


.navbar-brand {
    font-size: 20px;
}


.containerLink .myactionlink1 {
    position: relative;
    left: 790px;
    top: -65px;
    text-decoration: none;
    color: firebrick;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.containerLink .myactionlink2 {
    position: relative;
    left: 850px;
    top: -65px;
    margin: 10px;
    text-decoration: none;
    color: firebrick;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body .container {
    margin: 0px;
}

.container-fluid .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}


footer {
    position: relative;
    top: 78px;
    border-top: 1px solid gray;
    background-color: whitesmoke;
}

#selectOption {
    width: 300px;
    height: 350px;
    background-color: dimgrey;
    border-radius: 6px;
    padding: 10px;
}


    #selectOption .myactionlink {
        max-width: 250px;
        text-decoration: none;
        display: block;
    }

        #selectOption .myactionlink:hover {
            color: lightslategray;
        }
