
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20PX;
    height: auto;
    background: rgb(202,214,214);
    background: linear-gradient(180deg, rgba(202,214,214,0.3809173327534139) 54%, rgba(162,162,157,0.32209380334164917) 98%);
}

header .navbar {
    background: rgb(202,214,214);
    background: linear-gradient(360deg, rgba(202,214,214,0.3809173327534139) 0%, rgba(211,210,217,0.08679968569459029) 41%);
    margin: 0px;
}

    header .navbar .container-fluid .navbar-brand {
        color: black;
    }


.navbar-brand {
    font-size: 20px;
}



body .container {
    margin: 0px;
}

.container-fluid .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}

.container-fluid .myactionlink1 {
    margin-left: auto;
    margin-right: 30px;
    text-decoration:none;
    color:firebrick;
}

.container-fluid .myactionlink2 {
    margin-right: 10px;
    text-decoration: none;
    color: firebrick;
}

footer {
    position: relative;
    top: 78px;
    height: 180px;
    border-top: 1px solid gray;
    background-color: whitesmoke;
}

#selectOption {
    width: 300px;
    height: 350px;
    background-color: dimgrey;
    border-radius: 6px;
    padding: 10px;
}


    #selectOption .myactionlink {
        max-width: 250px;
        max-height: 40px;
        text-decoration: none;
        padding: 10px;
        display: block;
    }

        #selectOption .myactionlink:hover {
            color: lightslategray;
        }
