h2 {
    position: relative;
    left: 450px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.mb-3 input {
    width: 400px;
    position: relative;
    left: 390px;
}

.mb-3 label {
    position: relative;
    left: 390px;
}

.mb-3 span {
    position: relative;
    left: 450px;
}

.btn {
    position: relative;
    bottom: -30px;
    left: 490px;
    margin-bottom: 50PX;
}
