
input {
    width: 400px;
    padding: 10px;
    margin: 10px;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mb-3 input {
    position: relative;
    width: 450px;
    left: 420px;
}

.mb-3 textarea {
    position: relative;
    width: 450px;
    left: 430px;
}

.mb-3 label {
    position: relative;
    width: 450px;
    left: 430px;
}

.mb-3 span {
    position: relative;
    width: 450px;
    left: 430px;
}

.btn {
    position: relative;
    left: 580px;
    padding: 10px 25px 10px 25px;
    margin-top: 20px;
}

#area {
    position: relative;
    left: 10px;
    width: 400px;
    height: 100px;
}
