
<h1>Начините за връзка с нас</h1>

<div class="container">
    <br />
    <div>
        <h4>Телефонен номер: 0999112345</h4>
    </div>
    <div>
        <h4>Имейл адрес: pochivka.zapitvane@mail.bg</h4>
        <br />
    </div>
</div>
<br />

<h3>Може да зададете въпрос ,чрез попълване на Формата</h3>


<div class="container">
    <div>
        <br />
        <input type="text" name="email" placeholder="Enter your mail address">
        <br />
    </div>
    <div>
        <br />
        <textarea  placeholder="Enter Your question here" rows="6" cols="60"></textarea>
        <br />
    </div>
    <br />
    <button class="btn btn-primary" id="sendform" type="submit">Изпрати</button>
</div>
