@{
    ViewData["Title"] = "Home Page";
}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://housemilka.com/wp-content/uploads/yagodina-1305d2.jpg" class="d-block w-100" alt="Орлово око">
        </div>
        <div class="carousel-item">
        <img src="https://w0.peakpx.com/wallpaper/282/591/HD-wallpaper-the-seven-rila-lakes-bulgaria-rila-amazing-lovely-view-beautiful-bulgaria-sky-lake-mountain-wildflowers-slope-nature-landscape.jpg" class="d-block w-100" alt="Рила">
        </div>
        <div class="carousel-item">
        <img src="https://c4.wallpaperflare.com/wallpaper/779/464/982/%D0%B1%D0%B5%D0%BB%D0%B8%D0%BD%D1%82%D0%B0%D1%88-trees-nature-colorful-wallpaper-preview.jpg" class="d-block w-100" alt="Белинташ">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />

<div class="container">
    <div class="row">
    <div class="col-sm-1" style="width: 19rem;">
        <img src="https://housemilka.com/wp-content/uploads/yagodina-1305d2.jpg" class="card-img-top" alt="...">
      <div class="card-group">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-sm-2" style="width: 20rem;">
        <img src="https://housemilka.com/wp-content/uploads/yagodina-1305d2.jpg" class="card-img-top" alt="...">
      <div class="card-group">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
     <div class="col-sm-2" style="width: 19rem;">
        <img src="https://housemilka.com/wp-content/uploads/yagodina-1305d2.jpg" class="card-img-top" alt="...">
      <div class="card-group">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
</div>