@{
    ViewData["Title"] = "Home Page";
}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://housemilka.com/wp-content/uploads/yagodina-1305d2.jpg" class="d-block w-100" alt="Орлово око">
        </div>
        <div class="carousel-item">
        <img src="https://w0.peakpx.com/wallpaper/282/591/HD-wallpaper-the-seven-rila-lakes-bulgaria-rila-amazing-lovely-view-beautiful-bulgaria-sky-lake-mountain-wildflowers-slope-nature-landscape.jpg" class="d-block w-100" alt="Рила">
        </div>
        <div class="carousel-item">
        <img src="https://c4.wallpaperflare.com/wallpaper/779/464/982/%D0%B1%D0%B5%D0%BB%D0%B8%D0%BD%D1%82%D0%B0%D1%88-trees-nature-colorful-wallpaper-preview.jpg" class="d-block w-100" alt="Белинташ">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />

<div class="container">
    <div class="row">
    <div class="col-sm-1" style="width: 19rem;">
            <img src="https://as1.ftcdn.net/v2/jpg/01/18/68/42/1000_F_118684274_ykjSdpGskrakNK2o7kcgSVuDZMmN3Lbs.jpg" class="card-img-top" alt="...">
      <div class="card-group">
        <h5 class="card-title">Белинташ</h5>
        <p class="card-text">Уникално място с много легенди.</p>
        <a class="btn btn-primary" asp-route-id="20" asp-controller="LandMark" asp-action="LandMarkById">Научи повече</a>
      </div>
    </div>
    <div class="col-sm-2" style="width: 20rem;">
            <img src="https://as2.ftcdn.net/v2/jpg/05/07/70/65/1000_F_507706597_92oie8ixjsi7gjsdF8vobOsnIWKq3Z3Z.jpg" class="card-img-top" alt="...">
      <div class="card-group">
        <h5 class="card-title">Кръстова Гора</h5>
        <p class="card-text">Посетете на 15 септември</p>
        <a class="btn btn-primary" asp-route-id="21" asp-controller="LandMark" asp-action="LandMarkById">Научи повече</a>
      </div>
    </div>
     <div class="col-sm-2" style="width: 19rem;">
            <img src="http://donutgiraffe.com/wp-content/uploads/2022/05/IMG-21d0ce9090ad134ee9713101594d28e6-V.jpg" class="card-img-top" alt="...">
      <div class="card-group">
        <h5 class="card-title">Караджов Камък</h5>
        <p class="card-text">Мистично място което трябва да посетите.</p>
        <a class="btn btn-primary" asp-route-id="22" asp-controller="LandMark" asp-action="LandMarkById">Научи повече</a>
      </div>
    </div>
    </div>
</div>