@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    I. Общи положения
    Ние можем обработваме данните Ви за някоя от следните цели: 1. Установяване и поддържане на отношенията по повод на предоставяните от Антиподес услуги.
    По-специално:
    за идентификация на нашите клиенти и/или техните представители във връзка с установяването на договорни отношения;
    за активиране на ползването на Услугата и/или други услуги, които предоставяме;
    за идентификация на потребителите, имащи право на достъп до клиентски домейн и право да ползват Услугата;
    когато е необходимо, за изпълнението на наши или Ваши задължения във връзка с Услугата и/или други услуги, както и изобщо на всякакви действия или дейности,
    необходими за предоставяне на Услугата съобразно Общите условия за ползване;
    за комуникация с клиенти, по реда на Общите условия за ползване;
    за изпращане на информация или съобщения с промоционален характер, относно Услугата или други предоставяни от Антиподес услуги;
    при необходимост за извършване на проверка на предоставените лични данни от независими източници.
    2. Подобряване на качеството на Услугата или за създаване на нови продукти и услуги от Антиподес. По-специално:
    за отстраняване на грешки в  или други свързани с Услугата продукти;
    за разработване на нови или оптимизиране на съществуващите функционалности, или на други, свързани с Услугата продукти, софтуерни и хардуерни системи;
    за да анализираме представянето на Услугата и другите услуги, които предоставяме.
    3. За изпълнение на задълженията ни и комуникация с Вас при упражняване на посочените в тази Политика Ваши права. 4. За защита на легитимните интереси 
    на Антиподес
    или на трета страна, като, но не само за предприемане и изпълнение:
    на превантивни мерки за осигуряване на сигурността и поверителността на данни от всякакво естество (включително лични, Ваши или на трети лица),
    които обработваме;
    на последващи мерки и действия за отстраняване на вредни последици от противоправни действия срещу сигурността на предлаганите оАко това е така,
    използването на "
    бисквитки" ще бъде ясно означено на Уебсайта, а с приемане на Политиката, Вие се съгласявате Ваши данни да бъдат събирани чрез тях. т нас продукти и услуги
    или обработвани данни;
    на необходимите действия за обезщетяване на понесени имуществени или неимуществени вреди при неизпълнение на задължения, произтичащи от договорни отношения 
    във връзка с предоставяните от нас услуги или разрешаване на правни спорове от всякакво естество по повод на предоставяните от нас услуги.;
    на необходимите действия при нарушения от всякакво естество на забрани императивни норми на приложимото законодателство.
    5. За изпълнение на наши нормативно установени задължения, включително за дейности със счетоводен характер или отчетност или за изпълнение на разпореждани
    на компетентни органи; 6. За маркетинг и реклама на предлаганите от Антиподес или трети страни продукти и услуги. С такава цел обработваме личните Ви данни
    само ако имаме Вашето съгласие, което можете да оттеглите по всяко време, по реда за упражняване на правата, посочен по-долу. 7. При ползване на публичното
    съдържание на Уебсайта или регистрация и създаване на потребителски профил на Уебсайта, или при осъществяване на достъп до клиентски домейн:
    за персонализиране на Вашите посещения на Уебсайта и/или клиентски домейн, с което да Ви предоставим възможност да извлечете максимална полза от 
    предоставяните
    от нас услуги;
    за осигуряване на достъп до отделни модули или функционалности на Уебсайта, или информация и други ресурси, изискващи регистрация и/или създаване на
    потребителски
    профил на Уебсайта.
    IV. Предоставяне на личните данни на трети лица (получатели)
    Ние ще предоставим (разкрием) личните Ви данни на трети лица, само когато това е позволено от закона и необходимо за целите, посочени по-горе. По-специално,
    данните могат да бъдат предоставени, включително в други държави, когато: а) сте се съгласили с това; б)
    е необходимо за изпълнение на наше нормативно установено задължение или в закон е предвидено друго основание или в) е необходимо за упражняване на права или 
    изпълнение на задължения по договор с Антиподес, по който сте страна или представлявате насрещната страна.
    Ние по никаквъв начин и повод не бихме търгували с Вашите лични данни. С приемането на тази Политика, Вие се съгласявате, че за целите посочени в нея, личните
    Ви данни могат да бъдат разкрити на следните категории лица: държавни и общински органи и институции; лица, с които сме в договорни отношения да предоставят
    от наше име част от Услугата или други услуги, които ползвате; лица, осигуряващи техническа поддръжка или други специализирани услуги като центрове за 
    съхраняване на данни (Data Centres), лица специализирани в извършване на проверки, анализ и оценка на рисковете за прилагани мерки за сигурност и защита
    на данни, хардуерни или софтуерни системи и инфраструктура, установяване и предотвратяване на неправомерни деяния; лица, специализирани в предоставянето 
    на маркетингови услуги; както и на други лица, за които сте се съгласили или на които ракриването на данни е необходимо за предоставяне на Услугата или 
    други услуги, които ползвате. Към момента на приемане от Антиподес на Политиката, ние не предаваме и не възнамеряваме да предаваме лични данни на трети 
    държави или международни организации. Въпреки това, съобразно горепосочените цели и основания, необходимост за такова предаване може да възникне, или да 
    е възникнало към момента, в който се съгласявате с Политиката. В такива случаи ако няма законово основание, което да задължава получателя да прилага мерки
    за сигурност на данните съобразно приложимото законодателство на ЕС, ние ще ангажираме тази трета страна с клаузи за опазване на тайната на вашите данни,
    така че да останете сигурни, че данните Ви са в достатъчна степен защитени.
   
    V. Защита на информацията, която Ви идентифицира
    Сигурността на личните Ви данни е от съществено значение за Антиподес. По всяко време, през което разполагаме с данните Ви, ние прилагаме комплекс
    от подходящи организационни и технически мерки за осигуряване на ниво на сигурност, което да е съобразено с рисковете. По-специално, ние свеждаме до
    необходимия минимум личните данни, които събираме и обработваме, като прилагаме ограничения за видовете данни, средствата и формите на обработване.
    Независимо дали при регистрация на Уебсайта по реда на Общите условия за ползване или впоследствие при ползване на Услугата посредством клиентски домейн,
    връзката между Вашия браузър и нас ще се осъществява посредством криптографски протокол SSL (Secure Sockets Layer). Базите данни, в които се намират
    и Вашите данни са организирани и надеждно защитени от неоторизиран достъп. Ние използваме колокационни услугите (Data Centre), като поверяваме 
    съхранението на сървърите си на доставчик, 
    който е надлежно сертифициран относно системата си за управление на качеството и относно системата за управление на сигурността на информацията. 
    Нашите служители са обучени и изпълняват задълженията си във връзка с обработване на данни в офис/и с осигурено високо ниво на сигурност на достъпа.
    VI. Срокове, в които обработваме данните
    Ние ще обработваме данните Ви доколкото или докато това е необходимо: а) за предоставяне на Услугата или други, предоставяни от нас услуги; б)
    за съобразяване с нормативно установени задължения; в) за защита на легитимни интереси, както са посочени в раздел III, т. 4; г) или имаме Вашето
    съгласие за обработване на данните. Поради разнообразния характер на видовете данни, целите и необходимостта на обработването, предварителното 
    определяне на действителните срокове за обработването им е трудно и Антиподес установява периодични прегледи за наличие на основание за обработване.
    VII. Вашите права
    Обръщаме внимание, че услугите, които предоставяме са предназначени за лица, които действат в рамките на търговска или професионална дейност. 
    Възможно е Вашите данни да са ни предоставени от такива лица, на които Вие сте например служител, за да ползвате Услугата като потребител. 
    В такива случаи законосъобразността на обработването и сигурността на личните Ви данни може да е предмет и на политики за поверителност н
    а такова друго лице, което да преценява законосъобразността на обработване и необходимостта да ни бъдат предоставени данните. 
    Антиподес не отговаря за спазването на политиките за поверителност на такива лица (клиенти), които самостоятелно преценяват 
    необходимостта и законните основания да ни бъдат предоставени данните. В такива случаи, при упражняване на права във връзка 
    с личните Ви данни е възможно да потърсим съдействие или съгласие на лицето, което ни ги е предоставило или да препоръчаме 
    да насочите искането си към него. Ако сте потребител, информация за голяма част от личните Ви данни, които обработваме, се намира
    и съобразно ролята, която имате можете да се запознавате с нея и самостоятелно или със съдействието на клиента, да я заличавате или коригирате. 
    Това се отнася и до данни като потребителско име и парола за достъп до клиентския домейн и, които можете да управлявате самостоятелно.
    Независимо от горепосоченото, в качеството си на субект на данните, Вие имате следните права:
    да получите информация за обработваните от нас Ваши лични данни, включително потвърждение дали се обработват Ваши данни;
    на коригиране на неточни лични данни;на изтриване на личните данни (право "да бъдеш забравен");
    на ограничаване на обработването;
    на преносимост на данните към друг администратор на лични данни;
    на възражение срещу обработване на личните Ви данни, както и на отказ да бъдете обект на решение, основаващо се единствено на автоматизирано 
    обработване, включващо профилиране;
    да Ви бъде съобщено за нарушение на сигурността на Вашите лични данни;
    В отношенията си с Антиподес, Вие можете да упражните правата си, като ни изпратите съответното 
    искане на горепосочения имейл адрес, като Ви молим съобщението да бъде означено като отнасящо се до “лични данни” или 
    “поверителност” и да съдържа ясно в какво се състои (правата, които се упражняват).По горепосочения ред, ако прецените 
    Вие можете да се откажете и от вече предоставено разрешение да използваме Ваши лични данни за определена цел, например, 
    ако не искате вашите данни за контакт да се ползват за изпращане към Вас на рекламни и други маркетингови съобщения, вие може да се откажете
    като я изтриете чрез функцията за управление на регистрацията на нашия Регистрационен сайт. Антиподес полага нужните усилия, за да обработва
    лични данни по добросъвестен и прозрачен начин. За целта ние прилагаме индивидуален подход за разглеждане на всяко искане за упражняване на
    горепосочените права, а във вътрешните ни правила са предвидени формални процедури за реда, по който правим това. Независимо дали искането 
    Ви е основателно или не, ще получите съответен отговор без ненужно забавяне и в сроковете, предвидени в приложимото законодателство. 
    Също така, Ви уведомяваме, че към датата на приемане на тази Политика, Антиподес е администратор на лични данни, регистриран 
    от Комисията за защита на личните данни, с интернет сайт www.cpdp.bg. Ако прецените, че Ваши права, предоставени Ви 
    от приложимото законодателство са нарушени, Вие имате право на жалба до посочения надзорен орган.
    VIII. Използване на "бисквитки"
    Повечето от сайтовете, които посещавате, използват "бисквитки" ("cookies") за подобряване на ползването от страна 
    ползващия сайта. "Бисквитките" може да имат много различни роли, като Ви дават възможност да се движите ефикасно 
    между страниците, да запазвате предпочитанията си и в по-общ план подобряват ползването на даден интернет сайт. 
    "Бисквитките" са малки текстови файлове, които съответният сайт може да запише на вашия компютър или мобилно устройство,
    когато посещавате страница или сайт. Така този сървър ще може след това да възстанови или да прочете съдържанието 
    на "бисквитката". Всяка "бисквитка" е уникална и съдържа анонимна информация като уникален идентификатор, 
    наименованието на сайта, цифри или букви. Тя позволява на даден сайт да запамети вашите предпочитания за навигация.
    Съществуват и други файлове или технологии с подобни функции (например web beacons). С терминът "бисквитка" в тази 
    Политика назоваваме всички файлове, които ползват информация по такъв начин. Някои сайтове могат да използват "бисквитки", 
    за да отправят целенасочени рекламни или маркетингови съобщения, въз основа, например, на Вашето местоположение и/или 
    Вашите навици при интернет навигация. "Бисквитките" могат да идват от сайта, който посещавате ("бисквитки на първа страна")
    , или може да се поставят от други сайтове, които предоставят съдържание на страницата, която разглеждате ("бисквитки на трета страна"). 
    Има различни видове "бисквитки". Т.нар "сесийни бисквитки" се съхраняват временно по време на сесията на интернет навигация
    и се премахват от устройството Ви при затваряне на браузъра. Обикновено такива "бисквитки" се ползват з улесняване на правилната 
    работа на функционалността на съответния сайт и за поддържане на стабилното състояние на сесията. Друг вид са "постоянните бисквитки",
    които не се премахват от компютъра Ви при затваряне на браузъра. Те остават на Вашия компютър докато изтече срокът на тяхната валидност 
    или докато не я изтриете. "Постоянните бисквитки" маркират вашия компютър, така че следващия път, когато посетите сайта, съответният сървър
    ще разпознае компютъра Ви. Повече информация за това как се използват "бисквитките" е налична на www.allaboutcookies.org. Ако не желаете да
    получавате "бисквитки", то най-често можете да настроите Вашия браузър да ги отхвърля или да ви уведомява, когато към компютъра Ви се се 
    прикачва "бисквика". Въпреки, че не сте задължени да приемате нашите "бисквитки", ако настроите вашия браузър да ги отхвърля, но в
    такъв случай може да не сте в състояние да използвате всичките функционалности на Уебсайта.
</p>
