@using MyWebProject.Core.Models.SearchEngineModel
@model IEnumerable<SearchViewModel>

<head>
    <link rel="stylesheet" href="~/css/All CSS file/Search/SearchCSS.css" asp-append-version="true" />
</head>


@if ( Model == null)
{
    <h1 class="notFound">Няма намерени резултати...</h1>
}
else
{
    <h1 id="searchRes">Резултатите от вашето търсене...</h1>
    <hr />

    @foreach (var item in Model)
    {

        <h2 id="Title">@item.Name</h2>

        <p id="Descript">@item.Description</p>

        <a href="https://bg.wikipedia.org/wiki/@item.Name">Може да научите повече...</a>

        <hr />
    }
}




