@using MyWebProject.Core.Models.SearchEngineModel
@model IEnumerable<SearchViewModel>


@if ( Model == null)
{
    <h1 class="notFound">Няма намерени резултати...</h1>
}
else
{
    @foreach (var item in Model)
    {
        <h1 id="searchRes">Резултатите от вашето търсене...</h1>
        <hr />

        <h2 id="Title">@item.Name</h2>

        <p id="Descript">@item.Description</p>
    }
}




