@using MyWebProject.Core.Models.SearchEngineModel
@model IEnumerable<SearchViewModel>



<h1 id="searchRes">Резултатите от вашето търсене...</h1>
<hr />


@foreach (var item in Model)
{
    <h2 id="Title">@item.Name</h2>

    <p id="Descript">@item.Description</p>
}

