@model IEnumerable<Top10ViewModelLandMark>

@{
    var loopmodel = Model.Where<Top10ViewModelLandMark>(x => x.Rating >= 9).Take(8).ToList();
}

<head>
    <link rel="stylesheet" href="~/css/All CSS file/LandMarkCustomCSS/topLandmarkCSS.css" asp-append-version="true" />
</head>



<h1 style="font-size:50px;">Най посещавани Забележителности</h1>


<div class="row">
    @foreach (var item in loopmodel)
    {
        var picture = item.Pictures.FirstOrDefault(x => x.LandMarkId == item.Id);


        <div id="cardsBox">
            <img src="@picture?.UrlImgAddres" class="card-img-top" alt="...">
            <h4>@item.Name</h4>
            <hr>
            <p>@item.Description.Substring(0, 120)...</p>
            <a class="btn btn-primary" asp-route-id="@item.Id" asp-controller="landMark" asp-action="LandMarkById">Научи повече</a>
        </div>

    }
</div>

