@model IEnumerable<MisteryModelView>

@{
    bool first = true;
}

<head>
    <link rel="stylesheet" href="~/css/All CSS file/MiteryCustomCSS/MysteryCSS.css" asp-append-version="true" />
</head>


@foreach (var item in Model)
{
    first = true;
    <div class="text-lg-center">
        <p style="font-size:50px; font-style:italic;"> @item.Name</p>
        <hr>
        <br>
    </div>
    var pic = item.Pictures.Where(x => x.LandMarkId == item.Id).ToList();
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var sa in pic)
            {
                <div class="carousel-item @(first ? "active" : string.Empty)">

                    <img id="picture" src="@sa.UrlImgAddres" alt="...">
                </div>

                first = false;
            }
            <div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <br />
    <div id="place" class="container">
        <p>@item.Description</p>
        <br />
        <hr>
        <style>
            .checked {
                color: orange;
            }
        </style>

        @if (item.Rating == 0)
        {
            <p class="rating">

                Рейтинг:
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                :@item.Rating
            </p>
        }

        @if (item.Rating > 0 && item.Rating <= 2)
        {
            <p class="rating">

                Рейтинг:
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                :@item.Rating
            </p>
        }

        @if (item.Rating > 2 && item.Rating <= 4)
        {
            <p class="rating">

                Рейтинг:
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                :@item.Rating
            </p>
        }

        @if (item.Rating > 4 && item.Rating <= 6)
        {
            <p class="rating">

                Рейтинг:
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                :@item.Rating
            </p>
        }

        @if (item.Rating > 6 && item.Rating <= 8)
        {
            <p class="rating">

                Рейтинг:
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                :@item.Rating
            </p>
        }

        @if (item.Rating > 8 && item.Rating <= 10)
        {
            <p class="rating">

                Рейтинг:
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                :@item.Rating
            </p>
        }

        <br>
        <hr>
        <br>
    </div>

    <div>

        <iframe id="player" type="text/html" width="600" height="300"
                src=@item.VideoUrl
                frameborder="0">
        </iframe>

    </div>
    <br>
}
