@using MyWebProject.Core.Models.FactOfBulgaria;
@model FactOfCountry

<head>
    <style>

        form {
            position: relative;
            left: 550px;
            height: 400px;
        }

        input {
            margin: 10px;
            width: 325px;
            position: relative;
            left: -55px;
        }

        textarea {
            margin: 10px;
            position: relative;
            left: -55px;
        }

        h2 {
            text-align: center;
        }

        #formSelect{
            width:325px;
            position:relative;
            left:-45px;
        }

        .btn {
            position: relative;
            left: 55px;
            margin-top:10px;
        }

    </style>
</head>



<h2>Add New Fact</h2>
<hr />


@using (Html.BeginForm("AddFacts", "OptionFacts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="formCreate">

        <textarea class="form" autocomplete="on" placeholder="Enter description" rows="10" cols="40" asp-for="@Model.Description"></textarea>
        <br />

        <div id="formSelect" class="mb-3">
            <label asp-for="CategoryId" class="form-label">Choises Category</label>
            <select asp-for="CategoryId" class="form-control">
                @foreach (var category in Model.Category)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>



        <button type="submit" class="btn btn-primary"> Add Fact </button>сс
    </div>
}