@using MyWebProject.Core.Models.FactOfBulgaria;
@model FactOfCountry

<head>
    <style>

        .mb-3 textarea {
            position: relative;
            width: 450px;
            left: 420px;
        }

        .mb-3 label {
            position: relative;
            left: 420px;
        }

        h2 {
            text-align: center;
        }

        .btn {
            position: relative;
            left: 460px;
            padding: 10px 150px 10px 150px;
            margin-top: 10px;
        }

    </style>
</head>



<h2>Change Fact</h2>
<hr />


@using (Html.BeginForm("EditFact", "OptionFacts", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="@Model.Description" class="form-label">Description</label>
        <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="12" cols="45"></textarea>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
   
    <button type="submit" class="btn btn-primary"> Edit Fact </button>

}
