body {
    background-color: hsl(0, 0%, 90%);
}

/* Size of image */

#All img {
    padding: 0px;
    width: 900px;
    height: 398px;
    object-fit:cover;
}

/* size of container div */
.container {
    padding: 0px;
    width: 900px;
}

#All {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px;
}

    #All h6 {
        padding-top: 5px;
        padding-left: 10px;
        font-size:20px;
    }

    #All h3 {
        font-style: italic;
    }

    #All .rating {
        font-size:24px;
        padding-left: 10px;
    }

    #All .startDate {
        font-size: 24px;
        padding-left: 10px;
    }

    #All .day {
        font-size: 24px;
        padding-left: 10px;
    }


    /* button positioin and hover effect */

    #All .btn {
        position: relative;
        left: 320px;
        padding: 10px 50px 10px 50px;
    }

        #All .btn:hover {
            background-color: lightcoral;
        }
