@using MyWebProject.Core.Models.Town;
@model CreateTownViewModel

<head>
    <style>

        form{
            position:relative;
            left: 450px;
            height:400px;
        }
        input{
            margin:10px;
            width:325px;
            position:relative;
            left:-55px;
        }
        textarea{
            margin:10px;
            position:relative;
            left:-55px;
        }
        h2{
            text-align:center;
        }

        .btn{
            position:relative;
            left:55px;
        }

    </style>
</head>



<h2>Create New Town</h2>
<hr />


<form id="formCreate" method="post" asp-area="Administrator" asp-controller="OptionTown" asp-action="Create">

    <input class="form" autocomplete="on" placeholder="Enter event name" asp-for="@Model.Name" />
    <br />

    <textarea id="area" class="form" autocomplete="on" placeholder="Enter event description" rows="8" cols="40" asp-for="@Model.Description"></textarea>
    <br />
 
    <button type="submit" class="btn btn-primary"> Create Town</button>
</form>
