@using MyWebProject.Core.Models.Town;
@model TownViewModelAll



@{
    var pictur = Model.Picture;
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @{
            var first = true;
        }
        @foreach (var item in pictur)
        {
            <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">
                <img class="d-block w-100" src="@item.UrlImgAddres">
            </div>
            first = false;
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

