

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#formCreate {
    position: relative;
    left: 450px;
}

    #formCreate input {
        width: 400px;
    }

    #formCreate textarea {
        width: 400px;
    }

.btn {
    position: relative;
    left: 100px;
    bottom: -10px;
    margin: 20px;
}
