<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Пътеводител</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/My_Web_Project_LandMarks_.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Пътеводител</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="bodyDiv" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Нашите Предложения
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Town" asp-action="All">Градове</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="LandMark" asp-action="AllLandmark">Забележителности</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="CultureEvent" asp-action="GetAllEvent">Събития</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="InterestingFacts" asp-action="GetAllFacts">Любопитни Факти</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Топ Дестинации
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Top10destination" asp-action="Get10Landmark">Топ забележителности</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Top10destination" asp-action="MysteryPlaces">Мистериозни Места</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Top10destination" asp-action="AllLandMarkByTown">Забелижителности по Градове</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Journey" asp-action="GetAll">Пътешествия</a>
                        </li>
                        <li>
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Предложения
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" asp-area="" asp-controller="LandMark" asp-action="AddUserSuggestions">Добави Забелевителност</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Picture" asp-action="AddPicture">Добави Изображение</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </li>
                       @* <li>
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                <input id="FieldToSearch" asp-area="" asp-controller="Home" asp-action="SearchBy" onclick="set()" class="form-control" placeholder="Search..." />
                            }


                        </li>*@
                        <li>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                            {
                                <a class="dropdown-item" asp-area="Administrator" asp-controller="HomeAdmin" asp-action="Index">Admin Panel</a>
                            }
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <h4 id="foras">За нас</h4>
        <a id="formquest" asp-area="" asp-controller="Home" asp-action="ContactUs">За контакт с нас</a>
        <a id="policy" asp-area="" asp-controller="Home" asp-action="Privacy">Политика за Поверителност</a>
        <h4 id="partn">Нашите партньори</h4>
        <a id="partner1" href="https://grabo.bg/travel">Grabo</a>
        <a id="partner2" href="https://opoznai.bg/">Opoznai.bg</a>
        <img id="posImg" src="https://cdn.freebiesupply.com/logos/large/2x/bulgaria-logo-png-transparent.png" width="230" height="150" alt="Bulgaria" />
        <p id="copy">&copy; 2022 - 2023 - Пътеводител на Българските забележителности</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@section Scripts{
    <script>

        let getValue = document.getElementById("FieldToSearch");
        getValue.addEventListener();

        function set(e) {

        }

    </script>
}
