<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Admin Area css/AdminIdexPage.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Administrator" asp-controller="HomeAdmin" asp-action="Index">Admin Panel</a>
            </div>
        </nav>
    </header>

    <partial name="AdminPartialView" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted" style="width:auto">
        <div class="container">
            &copy; 2021 - Пътеводител на България
            <br />
            <br />
            <div class="row">
                <p>You are an Administrator</p>
                <p>
                    Administrator Area - Here you have the ability to view, add, edit or delete items from the application database.
                </p>
            </div>
            <br />
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
