<div class="mb-3">
      <label for="disabledSelect" class="form-label">Towns</label>
      <select id="disabledSelect" class="form-select">
          <a asp-area="" asp-controller="CultureEvent" asp-action="EventByTownId"></a>
          <a></a>
        <option>Disabled select</option>
      </select>
</div>
<button type="submit" class="btn btn-primary">Submit</button>