@using MyWebProject.Core.Models.Category;
@model CreateCategoryViewModel

<head>
    <link rel="stylesheet" href="~/css/Admin Area css/CategoryCSS/CategoryCreateCss.css">
</head>


<h2>Create new Category</h2>
@using (Html.BeginForm("Create", "OptionCategory", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="@Model.Name" class="form-label">Category Name</label>
        <input asp-for=@Model.Name class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>
}
   