@using MyWebProject.Core.Models.Category;
@model CategoryViewModel

<head>
    <style>
        h2 {
            position: relative;
            left: 450px;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 30px;
        }

        .mb-3 input {
            width: 400px;
            position: relative;
            left: 390px;
        }

        .mb-3 label {
            position: relative;
            left: 390px;
        }

        .mb-3 span {
            position: relative;
            left: 450px;
        }

        .btn {
            position: relative;
            bottom: -30px;
            left: 520px;
            margin-bottom: 50PX;
        }

    </style>
</head>

<h2>Change category</h2>

@using (Html.BeginForm("Edit", "OptionCategory", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="@Model.Name" class="form-label">Change Name</label>
        <input asp-for="Name" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update Name</button>
}