

#btnPicture {
    position: relative;
    left: 220px;
    top: 40px;
    padding: 10px 70px 10px 70px;
}


h2 {
    text-align: center;
}

#formCreate{
     width: auto;
    height: 200px;
}


form #UploadPicture {
    background-color: cornflowerblue;
    color: whitesmoke;
    width: 550px;
    height: 200px;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    left: 380px;
    top: 50px;
}

#UploadPicture .row {
    margin-bottom: 5px;
}

.col #btnUploadPic {
    position: relative;
    left: 150px;
    top: 0px;
    padding: 10px 70px 10px 70px;
    border-radius: 6px;
}


footer {
    display: none;
}