
#btnPicture  {
    position: relative;
    left: 220px;
    top: 40px;
    padding: 10px 70px 10px 70px;
}


h2 {
    text-align: center;
}

footer {
    margin-top: 240px;
}

form #UploadPicture {
   
    background-color:cornflowerblue;
    color: whitesmoke;
    
}