* {
    box-sizing: border-box;
}


#cardsPictures {
    width: 350px;
    height: 300px;
    margin: 10px;
    flex: 0;
    background-color: snow;
    padding: 0px;
    border-radius: 6px;
}

    #cardsPictures img {
        width: 350px;
        height: 260px;
        border-radius: 6px;
    }

#boxFlex {
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
}

#hideoptions {
    text-decoration: none;
}

    #hideoptions i {
        color: deepskyblue;
    }

    #hideoptions span {
        padding-top: 17px;
        font-size: 16px;
        color: gray;
    }

    #hideoptions i:hover {
        font-size:26px;
    }
