.mb-3 textarea {
    position: relative;
    width: 450px;
    left: 420px;
}

.mb-3 label {
    position: relative;
    left: 0px;
}

.mb-3 span {
    position: relative;
    left: 420px;
}


h2 {
    text-align: center;
}

#formSelect {
    width: 450px;
    position: relative;
    left: 420px;
}

.mb-3 .form-label {
    position: relative;
    left: 420px;
}

.btn {
    position: relative;
    left: 580px;
    margin-top: 10px;
    padding: 10px 25px 10px 25px;
}
