@model IEnumerable<AllFactsViewModel>

<head>
    <link rel="stylesheet" href="~/css/All CSS file/FactsCustomCSS/Facts.css" asp-append-version="true" />
</head>

@{
    var collect = Model.OrderBy<AllFactsViewModel, int>(x => x.Id).ToList();
    var count = 1;
    var sortedCollect = new List<AllFactsViewModel>();
}

<div>
    <h1>Любопитни факти за България</h1>
    <hr />
    <br />
</div>
<div class="container">
    @foreach (var item in collect.OrderBy(x=>x.Description.Length >250).ToList())
    {
        if (item.Description.Length < 250)
        {
           <div id="intFactCustom">
                <p id="hidecustom">
                    <span>@count</span>
                    @item.Description
                </p>
            </div>
            count++; 
        }
        else
        {
            <div id="intFact">
                <p id="hide">
                    <span>@count</span>
                    @item.Description
                </p>
            </div>
            count++;
        }
       
        

    }
</div>