@model IEnumerable<AllFactsViewModel>

<head>
    <link rel="stylesheet" href="~/css/All CSS file/FactsCustomCSS/Facts.css" asp-append-version="true" />
</head>

@{
    var collect = Model.OrderBy<AllFactsViewModel, int>(x => x.Id).ToList();
    var count = 1;
    var sortedCollect = new List<AllFactsViewModel>();
}

<div>
    <h1>Любопитни факти за България</h1>
    <hr />
    <br />
</div>
<div class="container">
    @foreach (var item in collect.OrderBy(x=> x.Description.Length <= 315).ToList())
    {
        if (item.Description.Length <= 315)
        {
            <div id="intFactCustom">
                <p id="hidecustom" >
                    <span>@count</span>
                    <hr />
                    <p id="descs">@item.Description</p>
                </p>
            </div>
            count++;
        }
        else
        {
            <div id="largefacts">
                <p id="hidecustom">
                    <span>@count</span>
                    <hr />
                    <p id="descs"> @item.Description</p>
                </p>
            </div>
            count++;
        }



    }
</div>