
<div class="container">
    <h1>Admin Panel</h1>
</div>



<a class="dropdown-item" asp-controller="HomeAdmin" asp-action="Index">Admin</a>
<a class="dropdown-item" asp-controller="HomeAdmin" asp-action="Index">Category</a>
<a class="dropdown-item" asp-controller="HomeAdmin" asp-action="Index">Users</a>
<a class="dropdown-item" asp-controller="HomeAdmin" asp-action="Index">Event</a>
