body {
    background-color: hsl(0, 0%, 90%);
}

#containerLand .card-group p{
    padding:0px;
}

#containerLand {
    display: block;
    margin: 10px;
    padding: 0px;
    width: 300px;
    height: 230px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.card-group h4 {
    margin-top: 5px;
    margin-bottom:0px;
    text-align: center;
    font-size: 20px;
}


#containerLand:hover {
    height: 435px;
    transition-duration: 1s;
}

p {
    text-align: center;
    margin: 0px;
    padding: 5px;
    height: 80px;
}

#containerLand img {
    padding-left: 0px;
    width: 417px;
    height: 200px;
    object-fit:cover;
}

#containerLand .btn {
    position: relative;
    bottom: -60px;
    padding: 8px 168px 8px 168px;
    text-align: center;
}

