*{
    box-sizing:border-box;
}

body {
    background-color: hsl(0, 0%, 90%);
}


.row{
    flex-wrap:wrap;
    margin-left: 100px;
}

#containerLand {
    margin: 10px;
    padding: 0px;
    width: 380px;
    height: 330px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#containerLand img{
    width:378px;
    height:300px;
}

#containerLand p{
    padding:15px 10px;
}

#containerLand:hover {
    height: 530px;
    transition-duration: 1.5s;
}



