body {
    background-color: lightgray;
}



.descript {
    padding: 10px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.secOptions p {
    letter-spacing: 1.2px;
}

.descript a {
    padding-left: 20px;
    text-decoration: none;
    color: dimgrey;
    font-size: 18px;
}

.secOptions .row h3 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 30px;
    font-style: italic;
    padding-left: 0px;
    margin: 10px;
}
