
body {
    background-color: aliceblue;
}

table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    width: 90%;
}

th {
    background-color: white;
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    display: table-cell;
    vertical-align: inherit;
}

tr:nth-child(even) {
    background-color: white;
}

#edit {
    padding: 5px 45px 5px 45px;
    background-color: yellow;
    color: black;
    margin-right: 40px;
    position: relative;
    right: -10px;
}

#deleteBtn {
    position: relative;
    right: 5px;
    padding: 5px 45px 5px 45px;
    background-color: red;
    color: black;
}

#create {
    padding-bottom: 20px;
}

    #create a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: mediumseagreen;
    }

#seen {
    text-decoration: none;
    color: cornflowerblue;
}
