body {
    background-color: hsl(0, 0%, 90%);
}

#containerLand {
    display:inline;
    margin: 10px;
    padding: 0px;
    width: 300px;
    height: 420px;
    border: 1px solid lightgray;
    border-radius:4px;
    background-color:whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

.card-group h4 {
    margin-top: 5px;
    text-align: center;
}

p {
    text-align:center;
    margin: 0px;
    padding:5px;
}

#containerLand img {
    padding-left: 0px;
    width: 418px;
    height: 200px;
    object-fit:cover;
}

#containerLand .btn {
    position: relative;
    bottom: -50px;
    padding:7px 160px 7px 155px;
}

