
 #title {
    margin-top: 20px;
    width: auto;
    margin-bottom: 350px;
    text-align: center;
}

.container .pb-3 #cardsPictures {
    width: 301px;
    height: 320px;
    background-color: whitesmoke;
    border: 1px solid gray;
}

#cardsPictures #click {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid gray;
    background-color:cornflowerblue;
    color:white;
}

#cardsPictures #deleted {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid gray;
    background-color: cornflowerblue;
    color: white;
}

#cardsPictures h4 {
   text-align:center
}