
#title {
    margin-top: 20px;
    width: auto;
    margin-bottom: 350px;
    text-align: center;
}

.container #cardsPictures {
    max-width: 310px;
    height: 360px;
    margin: 10px;
    padding: 0px;
    background-color: whitesmoke;
    border: 1px solid gray;
}


    #cardsPictures img {
        width: 308px;
        height: 250px;
    }



#cardsPictures #click {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid gray;
    background-color: cornflowerblue;
    color: white;
    margin-left: 30px;
}

    #cardsPictures #deleted {
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid gray;
        background-color: cornflowerblue;
        color: white;
        margin-left: 10px;
    }

    #cardsPictures h4 {
        text-align: center;
        margin-bottom: 5px;
    }
