
#pictures {
    padding-left: 15px;
    padding-top:9px;
}

#Colpicture {
    padding-left: 17px;
}

#event {
    padding-left: 17px;
}

.card-body .nav a:hover {
    border-bottom: 1px solid gray;
    color:darkgrey;
}

footer{
    margin-top:0px;
}
