

.container .pb-3 #title{
    margin-top: 20px;
    text-align:center;
    width:100%;
}

img{
    padding:10px;
    margin-bottom:40px;
}

img:hover{
    transform: scale(1.5);
}
footer{
    margin-top:380px;
}