body {
    background-color: hsl(0, 0%, 90%);
}

#All img{
    padding:0px;
    width:1000px;
    height:400px
}

.container {
    padding: 0px;
    width: 1000px;
}

#All{
    background-color:whitesmoke;
}

#All .btn{
    position:relative;
    left:-11px;
    padding:10px 20px 10px 20px;
}

#All .btn:hover{
    background-color: lawngreen;
}
