html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}