@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    background-color: rgba(215, 215, 217);
}

.carousel-inner img {
    width: 800px;
    height: 600px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

nav {
    margin: 10px;
    padding: 10px;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 20px;
}

.card-text{
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    padding-left:10px;
}

#bodyDiv {
    margin: 0px;
}

#posImg {
    position: relative;
    top: 0px;
    right: -300px;
}

footer {
    margin:0px;
    padding:0px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: ghostwhite;
}
#partn{
    display:inline-block;
    position:relative;
    margin:0px;
    left:60px;
    top: -50px;
}

#foras{
    display:inline-block;
    margin:0px;
    position:relative;
    left:70px;
    bottom: 50px;
}

#partner1 {
    position: relative;
    left: -155px;
    top: -10px;
    text-decoration: none;
    color: cornflowerblue;
}

#partner2 {
    position: relative;
    left: -210px;
    top: 33px;
    text-decoration: none;
    color: cornflowerblue;
}

#formquest {
    text-decoration: none;
    color: cornflowerblue;
    position: relative;
    bottom: 10px;
    left: -5px;
}

#copy {
    position:relative;
    bottom: 0px;
    left:10px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
}

#policy {
    text-decoration: none;
    color: cornflowerblue;
    position:relative;
    bottom: -30px;
    left: -145px;
}
/* nav bar custom */
.navbar-brand {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px 0px 5px;
    margin-right: 20px;
}

.container-fluid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-right: 20px;
}

/* section to size container*/
.col-sm-1 {
    margin: 0px;
    padding:0px;
    width: 400px;
    height: 450px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.col-sm-2 {
    margin: 0px;
    padding:0px;
    width: 400px;
    height: 450px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.col-sm-3 {
    margin: 0px;
    padding:0px;
    width: 400px;
    height: 450px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* this container all img in  div */
.col-sm-1 img {
    position: relative;
    width: 398px;
    height: 250px;
}

.col-sm-2 img {
    position: relative;
    left: -0px;
    width: 398px;
    height: 250px;
}

h3{
    padding-left: 20px;
    margin: 0px;
}

hr{
    margin:0px;
}

.col-sm-1:hover {
    transform: scale(1.1);
}

.col-sm-2:hover {
    transform: scale(1.1);
}

.col-sm-3:hover {
    transform: scale(1.1);
}


.col-sm-3 img {
    position: relative;
    width: 398px;
    height: 250px;
}

#colbtn {
    margin:0px;
    position: relative;
    bottom: -30px;
    left: 125px;
}

#colbtn-end {
    margin: 0px;
    position: relative;
    bottom: 0px;
    left: 125px;
}

#btn-tw1 {
    margin: 0px;
    position: relative;
    bottom: -5px;
    left: 125px;
}

#set {
    margin: 0px;
    position: relative;
    bottom: 0px;
    left: 130px;
}

#set2 {
   
    margin: 0px;
    position: relative;
    bottom: -30px;
    left: 130px;
}

#set3 {
    margin: 0px;
    position: relative;
    bottom: -28px;
    left: 130px;
}

#colbtn:hover{
    background-color:lightblue;
}
#colbtn-end:hover {
    background-color: lightblue;
}
#btn-tw1:hover {
    background-color:lightblue;
}

#set:hover {
    background-color:cornsilk;
    color:black
}

#set2:hover {
    background-color: cornsilk;
    color: black
}

#set3:hover {
    background-color: cornsilk;
    color: black
}
/* this position to nested div*/
#facts {
    position:relative;
    left:10px;
    width: 800px;
    height: 300px;
}

#facts p img {
    float: right;
    width: 300px;
    height: 200px;
}

#facts p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   margin: 5px;
}
#facts{
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    padding:10px;
}

#facts2 {
    width: 700px;
    height: 300px;
}

#facts2 p img {
    float: left;
    width: 400px;
    height: 200px;
    margin:10px;
}

#facts2 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   margin: 5px;
}

#facts2 {
    position: relative;
    left: 600px;
}


#redirect {
    text-decoration: none !important;
    color:crimson;
    position:relative;
    left:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}

#redirect:hover{
    color:lightcoral;
}

#allFacts{
    background-color:whitesmoke;   
}

#FieldToSearch{
    position:relative;
    left:10px;
    top:10px;
    padding:0px;
    margin:0px;
}