@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    background-color: rgba(215, 215, 217);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

.carousel-inner img {
    width: 800px;
    height: 600px;
    border-radius: 6px;
}

h1 {
    font-family: Arial, sans-serif;
    font-style: italic;
}


/* Navigations and hidden div */

nav {
    padding: 10px;
    margin-bottom: 20px;
    width: auto;
    justify-content: space-between;
}

#search {
    margin-left: 50px;
    margin-bottom: 5px;
    height: 45px;
}

    #search .btn-search {
        position: relative;
        left: 260px;
        top: -20px;
        border: 1px solid black;
        padding: 3.8px 20px;
        border-radius: 0px;
        background-color: lightblue;
    }

    #search #FieldToSearch {
        width: 250px;
        border-radius: 0px;
        height: 30px;
    }

li h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: italic;
}

/* Size hidden div */

#bodyDiv {
    text-align: center;
    z-index: 5;
    width: 490px;
    height: 590px;
    border: 1px solid gray;
    position: absolute;
    background-color: white;
    top: 40px;
    left: 270px;
}

.secondTitle {
    list-style: none;
}

    .secondTitle ul li {
        padding: 5px;
    }

        .secondTitle ul li a {
            text-decoration: none;
            color:gray;
        }

    .secondTitle ul {
        list-style: none;
        text-align: center;
        padding-left: 0px;
    }

.navbar-nav {
    margin-left: auto;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Button close div */

#Close {
    position: absolute;
    top: 550px;
    left: 210px;
    padding: 3px 5px;
}
    #Close:hover {
        color:darkgrey;
    }



/* Option div */
#allOptions {
    list-style: none;
    margin: 10px;
    padding-left: 0px;
}

    #allOptions li ul {
        padding-left: 0px;
        padding-top: 5px;
    }

    #allOptions li h4 {
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    #allOptions #advent a {
        color: gray;
        text-decoration: none;
    }

    #allOptions a:hover {
        font-size: 20px;
        border-block-end: 1px solid lightgray;
        transition-duration: 1s;
    }

#advent hr{
    margin-bottom:10px;
}
#advent{
    margin-bottom:10px;
}

#firstoptions {
    list-style: none;
    margin-bottom: 10px;
}

    #firstoptions li {
        padding: 5px;
    }

        #firstoptions li a {
            text-decoration: none;
            color: gray;
        }

#secondoptions {
    list-style: none;
    margin-bottom: 10px
}

    #secondoptions li {
        padding: 5px;
    }

        #secondoptions li a {
            text-decoration: none;
            color: gray;
        }

#panel {
    position: relative;
    left: 330px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.navbar-nav .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 20px;
}



/* Card Div */

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 20px;
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px;
    margin: 0px;
    text-align: center;
}

.card-title {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.btn {
    padding: 7px 50px 7px 50px;
}


#bodyDiv {
    margin: 0px;
}

#posImg {
    position: relative;
    top: 0px;
    right: -180px;
}

#partn {
    display: inline-block;
    position: relative;
    margin: 0px;
    left: 35px;
    top: -50px;
}

#foras {
    display: inline-block;
    margin: 0px;
    position: relative;
    left: 65px;
    bottom: 50px;
}

#partner1 {
    position: relative;
    left: -155px;
    top: -10px;
    text-decoration: none;
    color: gray;
}

#partner2 {
    position: relative;
    left: -210px;
    top: 33px;
    text-decoration: none;
    color: gray;
}

#formquest {
    text-decoration: none;
    color: gray;
    position: relative;
    bottom: 10px;
    left: -5px;
}

#copy {
    position: relative;
    bottom: 0px;
    left: 10px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#policy {
    text-decoration: none;
    color: gray;
    position: relative;
    bottom: -30px;
    left: -145px;
}


/* nav bar custom */

.navbar-brand {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px 0px 5px;
    margin-right: 20px;
}

.container-fluid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-right: 20px;
}


.row {
    justify-content: space-between;
    margin-bottom: 50px;
}

/* section to size container*/

.col-sm-1 {
    margin: 0px;
    padding: 0px;
    width: 360px;
    height: 470px;
    margin-left: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.col-sm-2 {
    margin: 0px;
    padding: 0px;
    width: 360px;
    height: 470px;
    margin-left: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.col-sm-3 {
    margin: 0px;
    padding: 0px;
    width: 360px;
    height: 470px;
    margin-left: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow: hidden;
}



/* this container all img in  div */

.col-sm-1 img {
    position: relative;
    width: 358px;
    height: 250px;
}

.col-sm-2 img {
    position: relative;
    left: -0px;
    width: 358px;
    height: 250px;
}


.col-sm-3 img {
    position: relative;
    width: 358px;
    height: 250px;
}

/*Title of all div*/

.row h3 {
    padding-left: 20px;
    margin: 0px;
}

hr {
    margin: 0px;
}


/*hover effect for all card in index view*/

.col-sm-1:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
}

.col-sm-2:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
}

.col-sm-3:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
}

/*button by custom css style by Id */

#colbtn {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: -3px;
    left: 80px;
}

#colbtn-middle {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: -30px;
    left: 80px;
}

#colbtn-end {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: -3px;
    left: 80px;
}

#btn-tw1 {
    margin: 0px;
    border-radius: 50px;
    position: relative;
    bottom: 0px;
    left: 85px;
}

#btn-tw1-first {
    margin: 0px;
    border-radius: 50px;
    position: relative;
    bottom: -28px;
    left: 85px;
}

#set {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: 0px;
    left: 85px;
}

#set2 {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: -27px;
    left: 85px;
}

#set3 {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: -27px;
    left: 95px;
    left: 85px;
}


/*hover effect to buttons*/

#colbtn:hover {
    background-color: lightskyblue;
    border: 1px solid gray;
}

#colbtn-middle:hover {
    background-color: lightskyblue;
    border: 1px solid gray;
}

#colbtn-end:hover {
    background-color: lightskyblue;
    border: 1px solid gray;
}

#btn-tw1:hover {
    background-color: lightskyblue;
    border: 1px solid gray;
}

#set:hover {
    background-color: cornsilk;
    color: black
}

#set2:hover {
    background-color: cornsilk;
    color: black
}

#set3:hover {
    background-color: cornsilk;
    color: black
}



/* this position to nested div for all facts*/

#allFacts h1 {
    margin: 0px;
    padding-left: 20px;
}

#allFacts {
    background-color: whitesmoke;
}


#facts {
    position: relative;
    left: 10px;
    width: 800px;
    height: 350px;
}

    #facts img {
        float: right;
        width: 350px;
        height: 200px;
        margin: 10px;
    }

    #facts p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 5px;
        font-family: Helvetica, sans-serif;
        width: 900px;
    }

#facts {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
}

#facts2 {
    width: 700px;
    height: 300px;
}

    #facts2 p img {
        float: left;
        width: 400px;
        height: 200px;
        margin: 10px;
    }

    #facts2 p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 5px;
    }

#facts2 {
    position: relative;
    left: 400px;
    margin: 20px 5px;
}


#redirect {
    text-decoration: none !important;
    color: crimson;
    margin: 10px;
    position: relative;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

    #redirect:hover {
        color: lightcoral;
    }

#FieldToSearch {
    position: relative;
    left: 10px;
    top: 10px;
    padding: 0px;
    margin: 0px;
}


/* FOOTER */


footer {
    width: auto;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    border-top: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: ghostwhite;
}

    footer a {
        color: lightgray;
    }

#copy {
    display: inline-block;
    margin-left: 33px;
    margin-bottom: 10px;
}
