@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    background: rgb(225,233,233);
    background: radial-gradient(circle, rgba(225,233,233,1) 51%, rgba(212,211,208,0.9327380610447304) 96%);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}

.carousel-inner img {
    width: 800px;
    height: 600px;
    border-radius: 6px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}

.container {
    margin-bottom: 120px;
}

/* nav bar custom */

.navbar-brand {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 20px 0px 5px;
    margin-right: 20px;
}


.row {
    justify-content: space-between;
    margin-bottom: 39px;
}

.navbar-nav .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 18px;
}

.navbar-nav {
    margin-left: auto;
    align-items: center;
    margin-right: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

    .navbar-nav .nav-item .nav-link {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
    }



/* Navigations and hidden div */

.rowNav {
    width: 300px;
    height: 50px;
    position: relative;
    left: 150px;
    margin-left: 150px;
}

.btn-1 {
    position: relative;
    left: 260px;
    top: -18px;
    border: 1px solid gray;
    padding: 3.5px 20px;
}

nav {
    padding: 10px;
    margin-bottom: 20px;
    width: auto;
}

#FieldToSearch {
    width: 250px;
    border-radius: 0px;
    height: 30px;
    position: relative;
    left: 25px;
    top: 12px;
    padding: 0px;
    margin: 0px;
}

li h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: italic;
}

/* Size hidden div */



#bodyDiv {
    text-align: center;
    z-index: 5;
    width: 450px;
    height: 610px;
    border: 1px solid gray;
    position: absolute;
    background-color: white;
    top: 40px;
    left: 270px;
}

.secondTitle {
    list-style: none;
}

    .secondTitle ul li {
        padding: 5px;
    }

        .secondTitle ul li a {
            text-decoration: none;
            color: gray;
        }

    .secondTitle ul {
        list-style: none;
        text-align: center;
        padding-left: 0px;
    }



/* Button close div */

#Close {
    position: absolute;
    top: 570px;
    left: 190px;
    padding: 3px 5px;
}

    #Close:hover {
        color: darkgrey;
    }



/* Option div */


#allOptions {
    list-style: none;
    margin: 10px;
    padding-left: 0px;
}

    #allOptions li ul {
        padding-left: 0px;
        padding-top: 5px;
    }

    #allOptions li h4 {
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    #allOptions #advent a {
        color: gray;
        text-decoration: none;
    }

    #allOptions a:hover {
        font-size: 20px;
        border-block-end: 1px solid lightgray;
        transition-duration: 1s;
    }

#advent hr {
    margin-bottom: 10px;
}

#advent {
    margin-bottom: 10px;
}

#firstoptions {
    list-style: none;
    margin-bottom: 10px;
}

    #firstoptions li {
        padding: 5px;
    }

        #firstoptions li a {
            text-decoration: none;
            color: gray;
        }

#secondoptions {
    list-style: none;
    margin-bottom: 10px
}

    #secondoptions li {
        padding: 5px;
    }

        #secondoptions li a {
            text-decoration: none;
            color: gray;
        }

#panel {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}



.UserSection h3 {
    font-family: 'HP Simplified';
    font-style: italic;
}

.UserSection .row .col {
    max-width: 310px;
    overflow:hidden;
}

#constheight {
    height: 200px;
    overflow: hidden;
}


 
    #constheight:hover #hideoptions {
        position: relative;
        top: -30px;
        left: 10px;
        color:whitesmoke;
    }




    /*#userPic:hover {
    transform: scale(1.10);
    transition: 0.3s ease-in;
}*/
    /* Card Div */
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding-left: 20px;
    }

.card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px;
    margin: 0px;
    text-align: center;
}

.card-title {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.btn {
    padding: 7px 50px 7px 50px;
}


#bodyDiv {
    margin: 0px;
}




/* section to size container*/

.col-sm-1 {
    margin: 0px;
    padding: 0px;
    width: 360px;
    height: 475px;
    margin-left: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.col-sm-2 {
    margin: 0px;
    padding: 0px;
    width: 360px;
    height: 475px;
    margin-left: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.col-sm-3 {
    margin: 0px;
    padding: 0px;
    width: 360px;
    height: 475px;
    margin-left: 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow: hidden;
}



/* this container all img in  div */

.col-sm-1 img {
    position: relative;
    width: 358px;
    height: 250px;
}

.col-sm-2 img {
    position: relative;
    left: -0px;
    width: 358px;
    height: 250px;
}


.col-sm-3 img {
    position: relative;
    width: 358px;
    height: 250px;
}


/*Title of all div*/

.row h3 {
    padding-left: 20px;
    margin: 0px;
}

hr {
    margin: 0px;
}



/*hover effect for all card in index view*/

.col-sm-1:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
}

.col-sm-2:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
}

.col-sm-3:hover {
    transform: scale(1.02);
    transition: 0.5s ease-in;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
}

/*button by custom css style by Id */

#colbtn {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: -3px;
    left: 80px;
}

#colbtn-middle {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: -30px;
    left: 80px;
}

#colbtn-end {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: -3px;
    left: 80px;
}

#btn-tw1 {
    margin: 0px;
    border-radius: 50px;
    position: relative;
    bottom: 0px;
    left: 85px;
}

#btn-tw1-first {
    margin: 0px;
    border-radius: 50px;
    position: relative;
    bottom: -28px;
    left: 85px;
}

#set {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: 0px;
    left: 85px;
}

#set2 {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: -27px;
    left: 85px;
}

#set3 {
    border-radius: 50px;
    margin: 0px;
    position: relative;
    bottom: -27px;
    left: 95px;
    left: 85px;
}


/*hover effect to buttons*/

#colbtn:hover {
    background-color: lightskyblue;
    border: 1px solid white;
}

#colbtn-middle:hover {
    background-color: lightskyblue;
    border: 1px solid white;
}

#colbtn-end:hover {
    background-color: lightskyblue;
    border: 1px solid white;
}

#btn-tw1:hover {
    background-color: lightskyblue;
    border: 1px solid white;
}

#btn-tw1-first:hover {
    background-color: lightskyblue;
    border: 1px solid white;
}

#set:hover {
    background-color: cornsilk;
    color: black;
    border: 1px solid white;
}

#set2:hover {
    background-color: cornsilk;
    color: black;
    border: 1px solid white;
}

#set3:hover {
    background-color: cornsilk;
    color: black;
    border: 1px solid white;
}



/* this position to nested div for all facts*/

#allFacts h1 {
    margin: 0px;
    padding-left: 20px;
    text-align: center;
}

#allFacts {
    background-color: whitesmoke;
}

hr {
    margin: 5px 0px;
}

#facts {
    width: 1300px;
    height: 400px;
    background-image: url('https://m.netinfo.bg/media/images/49165/49165728/1280-840-plovdiv.jpg');
    object-fit: cover;
    opacity: 0.9;
    margin-bottom: 20px;
}

    #facts p img {
        float: right;
        width: 350px;
        height: 200px;
        margin: 10px;
        opacity: 1;
    }

    #facts p {
        position: relative;
        top: 20px;
        left: -250px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 5px;
        width: 800px;
        color: white;
        font-size: 20px;
    }

#facts {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
}

#facts2 {
    width: 1300px;
    height: 350px;
    background-image: url('https://pzdnes.com/wp-content/uploads/2024/06/IMG_6543-scaled-1080x500_c.jpg');
    object-fit: cover;
    opacity: 0.8;
    padding-top: 20px;
}

    #facts2 p img {
        float: right;
        width: 400px;
        height: 200px;
        opacity: 1;
    }

    #facts2 p {
        position: relative;
        left: 300px;
        width: 680px;
        height: 300px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: whitesmoke;
    }



#facts3 {
    width: 1300px;
    height: 450px;
    background-image: url('https://www.bgwrestling.bg/content/files/2023/08/30/%D0%94%D0%B0%D0%BD_%D0%9A%D0%BE%D0%BB%D0%BE%D0%B23.jpg');
    object-fit: cover;
    opacity: 0.8;
}

    #facts3 p img {
        float: right;
        width: 350px;
        height: 200px;
        opacity: 1;
    }

    #facts3 p {
        position: relative;
        top: 20px;
        left: -240px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        width: 800px;
        color: whitesmoke;
    }

#facts3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}




#redirect {
    text-decoration: none !important;
    color: crimson;
    margin: 10px;
    position: relative;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: italic;
}

    #redirect:hover {
        color: lightcoral;
    }


/* FOOTER */

footer a:hover {
    font-size: 20px;
}

footer {
    max-height: 240px;
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: ghostwhite;
}

/* div Title */

#foras {
    margin-top: 10px;
}

#formquest {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: gray;
}

#policy {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: gray;
}

#copy {
    margin-bottom: 0px;
    padding-left: 0px;
}

/* div Options */

#partn {
    margin-top: 10px;
}

#partner1 {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: gray;
}

#partner2 {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: gray;
}


@media (min-width: 768px) {

    body {
        max-width: auto;
    }

    .rowNav {
        left: 20px;
    }


    .row {
        max-width: auto;
        justify-content: space-between;
        margin-left: 10px;
    }

    .col-sm-1 {
        max-width: 100%;
        margin: 0px;
        margin-top: 15px;
        margin-left: 5px;
    }

    .col-sm-2 {
        max-width: 100%;
        margin: 0px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .col-sm-3 {
        max-width: 100%;
        margin: 0px;
        max-width: 100%;
        margin-top: 15px;
        margin-left: 15px;
    }

    .container {
        max-width: auto;
        margin-bottom: 20px;
    }

    #carouselExampleControls {
        max-width: 100%;
    }


    /* section Facts */

    #allFacts {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

        #allFacts .row {
            height: 400px;
            max-width: 100%;
            margin: 0px;
            padding: 0px;
            justify-content: center;
        }

            #allFacts .row p img {
                margin: 0px;
                display: block;
                left: -20px;
                float: right;
                width: 360px;
            }

        #allFacts #facts2 {
            left: 0px;
            height: 300px;
        }

            #allFacts #facts2 p img {
                margin: 5px;
                display: block;
                float: left;
            }

            #allFacts #facts2 p {
                height: 300px;
                margin: 5px;
            }
}

@media (min-width: 600px) and (max-width: 768px) {

    /* body and navigation */
    body {
        max-width: auto;
    }

    .titleAndMenu {
        display: flex;
        align-items: center;
    }

    .navbar {
        width: auto;
        height: 150px;
        flex-direction: column;
        align-items: center;
    }

    .navbar-brand {
        margin-right: 5px;
        padding-right: 5px;
    }

    .navbar-nav {
        margin: 0px;
    }

    .rowNav {
        left: 5px;
    }

    .fa-bars {
        margin-left: 20px;
    }

    .pb-3 {
        width: 100%;
    }

    #cont {
        margin: 0px;
        max-width: 100%;
        padding: 0px;
    }


    /* card elements */

    .row {
        justify-content: center;
        gap: 10px;
    }

    .col-sm-1 {
        max-width: 70%;
        margin: 0px;
        margin-top: 15px;
        margin-left: 5px;
    }

    .col-sm-2 {
        max-width: 70%;
        margin: 0px;
        margin-top: 15px;
        margin-left: 5px;
    }

    .col-sm-3 {
        margin: 0px;
        max-width: 100%;
        margin-top: 15px;
        margin-left: 10px;
    }




    /* section Facts */

    #allFacts {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

        #allFacts .row {
            height: 400px;
            max-width: 100%;
            margin: 0px;
            padding: 0px;
            justify-content: center;
        }

            #allFacts .row p img {
                margin: 0px;
                display: block;
                left: -20px;
                float: right;
                width: 360px;
            }

        #allFacts #facts2 {
            left: 0px;
            height: 300px;
        }

            #allFacts #facts2 p img {
                margin: 5px;
                display: block;
                float: left;
            }

            #allFacts #facts2 p {
                height: 300px;
                margin: 5px;
            }
}


@media (max-width:600px) {


    /* navigation */

    header .navbar {
        width: auto;
        height: 160px;
        flex-direction: column;
        align-items: start;
        align-content: center;
        justify-content: flex-start;
    }

    header .navbar-brand {
        text-align: center;
    }

    .navbar-nav {
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

        .navbar-nav li a {
            display: inline-block;
            justify-content: center;
            align-items: center;
        }

    .rowNav {
        left: -20px;
    }

    .navbar-nav .nav-item a {
        margin-left: 0px;
        padding-left: 10px;
    }

    .fa-bars {
        position: relative;
        left: 35px;
    }

    #bodyDiv {
        left: 30px;
        width: 300px;
        height: 560px;
    }

    #Close {
        top: 530px;
        left: 110px;
    }


    /* body and card element*/

    body {
        width: auto;
    }

    .row {
        justify-content: space-between;
        margin-left: 10px;
    }

    .col-sm-1 {
        max-width: 100%;
        margin: 0px;
        margin-top: 15px;
        margin-left: 10px;
    }

    .col-sm-2 {
        max-width: 100%;
        margin: 0px;
        margin-top: 15px;
        margin-left: 10px;
    }

    .col-sm-3 {
        margin: 0px;
        max-width: 100%;
        margin-top: 15px;
        margin-left: 10px;
    }


    #allFacts {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

        #allFacts .row {
            height: 650px;
            max-width: 100%;
            margin: 0px;
            padding: 0px;
            justify-content: center;
        }

            #allFacts .row p img {
                margin: 0px;
                display: block;
                left: -20px;
                float: none;
                width: 360px;
            }

        #allFacts #facts2 {
            left: 0px;
            height: 450px;
        }

            #allFacts #facts2 p img {
                margin: 5px;
                display: block;
                float: none;
            }

            #allFacts #facts2 p {
                height: 400px;
                margin: 5px;
            }
}
