body {

}

#cards{
    width:400px;
    height:400px;
    border:2px solid black;
    margin:10px;
    padding:0px;
    background-color:whitesmoke;
}

#cards img{
    width:415px;
    height:200px;
}

#cards .btn:hover{
    background-color:cadetblue;
}

#cards .btn {
    position: relative;
    bottom: -50px;
}
