* {
    box-sizing: border-box;
}

#Custom img {
    width: 278px;
    height: 150px;
}

#Custom {
    border: 2px solid lightgray;
    box-shadow: initial 10px 10px 10px initial;
    border-radius: 5px;
    max-width: 280px;
    height: 390px;
    background-color: whitesmoke;
    padding: 0px;
}

.row h4 {
    padding: 0px;
    font-style: italic;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    margin: 5px 0px 5px 0px;
    padding: 0px;
}

.row p {
    padding: 0px;
    margin-bottom: 5px;
    color: lightslategray;
    text-align: center;
}

    .row p i {
        padding-right: 5px;
        color: lightgray;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#Custom .btn:hover {
    background-color: dodgerblue;
}

#Custom .btn {
    background-color: #0f7fab;
    padding: 7px 25px;
    margin-top: 10px;
    color: white;
    border: 1px solid #0f7fab;
}

hr {
    color: gray;
}

#statistic {
    display: none;
    background-color:white;
}
#statistic a i{
    padding-right:5px;
} 

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: lightslategray;
}
a:hover{
    color:lightseagreen;
}

#Custom:hover #statistic {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}
