body {
}

#Custom img {
    width: 350px;
    height: 200px;
}

#Custom {
    border: 2px solid lightgray;
    box-shadow: initial 10px 10px 10px initial;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
    max-width: 400px;
    height: 500px;
    background-color: blanchedalmond;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    margin: 5px 0px 5px 0px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#Custom .btn:hover {
    background-color: chocolate;
}

#Custom .btn {
    background-color: cadetblue;
    position: relative;
    padding: 3px 172px;
    bottom: -38px;
    left: -12px;
}

#Custom #7{
    bottom: -330px;
}
