
.rowFlex{
    width:1200px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    
}

#CustomEvent {
    background-color: whitesmoke;
    width: 250px;
    height: 500px;
    margin: 10px;
    padding: 0px;
    text-align:center;
}



#CustomEvent img{
    width:280px;
    height:250px;
}


